@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
    margin: 0;
    background-color: rgba(50, 50, 50, 1);
}

/* nav bar starts here */
nav{
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: 500;
    background-color: rgb(245,245,245);
    background-position: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>img{
    margin: 1em 0 2em 5em;
    height: 6em;
}
nav>ul{
    margin-right: 5em;
    display: flex;
    list-style: none;
}
nav>ul>li{
    margin-right: 1em;
}
nav>ul a{
    padding: 0.7em 1.5em;
    background-color: rgba(50, 50, 50, 0.9);
    color: white;
    text-decoration: none;
    border-radius: 0.8em;
}
nav>ul a:hover{
    background-color: rgba(80, 80, 80, 0.9);
}
/* nav bar ends here */

main{
    display: grid;
    justify-content: center;
    padding: 2em 5em;
    background-color: rgb(245,245,245);
    margin: 5em 0;
}
main div{
    display: flex;
}
main span{
    margin: 0 2em;
    padding: 1em;
}
main .adress{
    height: 100%;
    border-right: 0.5px solid black;
}
/* footer  start*/
footer{
    background-color: rgb(245,245,245);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer div p{
    font-size: 0.8em;
    line-height: 0.8;
}
footer div:first-child{
    margin-left: 5em;
}
footer div:last-child{
    text-align: center;
    margin-right: 5em;
}
footer img{
    height: 3em;
    margin-right: 1em;
}


/* footer end */